

body{
    margin: 0px;
}

#logoimg{
    height: 50px;
    margin: auto;
}
/*상단 하얀부분*/
#nav1{
    height: 65px;
}


/*회원가입, 로그인 버튼*/
#si {
    position: absolute;
    top: 15px;
    right: 30px;
    color: rgb(12, 66, 12);
    font-family: 'Jua', sans-serif;
}
#so{
    position: absolute;
    top: 15px;
    right: 120px;
    color: rgb(12, 66, 12);
    font-family: 'Jua', sans-serif;
}

header{
    background-color: blanchedalmond;
    height: 15%;
}
/*title*/
#title{
    font-size: 7em;
    margin: auto;
    text-align: center;
    color: rgb(12, 66, 12);
    font-family: 'Jua', sans-serif;
}



/* section메인내용*/
#addimg{
    height: 400px;
    background: url("https://cdn.pixabay.com/photo/2015/12/13/07/31/new-years-day-1090770_960_720.jpg") fixed; 
}

#fixed{
    font-family: 'Jua', sans-serif;
    position: fixed;
    /* position: sticky; */
    top: 400px;
    right: 20px;
    width: 150px;
    font-size: 1.5em;
    text-align: center;
    opacity: 0.5;
    z-index: 9999;
}

#carouselExampleAutoplaying{
    margin: auto;
    margin-top: 100px;
    width: 65%;
    margin-bottom: 200px;
}

#search, #map, #petdiary{
    text-align: center;
    color: rgb(12, 66, 12);
    font-family: 'Jua', sans-serif;
    font-size: 2rem;
    margin-bottom: 100px;
    background-color: blanchedalmond;
}

#search, #petdiary{
    margin-left: 10%;
}

#map{
    margin-left: 57%;
}

footer{
    margin-top: 300px;    
    background-color: blanchedalmond;
    height: 300px;
}

footer ul {
    list-style-type: none;
    padding: 8%;
    text-align: center;
    color: rgb(12, 66, 12);
    font-family: 'Jua', sans-serif;
}

/* 탭 메뉴 css */
body{
    margin-top: 100px;
    font-family: 'Trebuchet MS', serif;
    line-height: 1.6
}

.container{
    width: 80%;
    margin: 0 auto;
}

ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
ul.tabs li{
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

ul.tabs li.current{
    background: blanchedalmond;
    color: #222;
}

#tab_title1, #tab_title2, #tab_title3 , #tab_title4, #tab_title5{
    display: none;
}

.tab-content{
    display: none;
    background: blanchedalmond;
    padding: 15px;
}

.tab-content.current{
    display: inherit;
}
/* 마이페이지 회원 정보 css */
#memberInfoTable {
    margin: auto;
}

#memberInfoTable tr td{
    border: 1px solid gray;
    border-left: 0px;
    border-right: 0px;
}

#memberInfoTable tr td:first-child {
    background-color: blanchedalmond;
    height: 50px;
}

#memberInfoTable tr td:last-child {
    width: 80%;
}


/* 강아지 탭 안에 들어가는 정보 css*/
.form-control {
    width: 95%;
    margin: 5px 10px 8px 0px;
    font-size: 1.5em;
    border: solid 1px #dadada;
    background: #fff;
}

#dog_infos>div>img {
    width: 300px;
    height: 300px;
    display: block;
    margin: auto;
}

select{
    width:95%;
    height:30px;
    margin: 5px 10px 8px 0px;
    border: none;
    outline: none;
    font-size: 1.2em;
}