body{
    margin: 0px;
}

#logoimg{
    height: 50px;
    margin: auto;
}
/*상단 하얀부분*/
#nav1{
    height: 65px;
}


/*회원가입, 로그인 버튼*/
#si {
    position: absolute;
    top: 15px;
    right: 30px;
    color: rgb(12, 66, 12);
    font-family: 'Jua', sans-serif;
}
#so{
    position: absolute;
    top: 15px;
    right: 120px;
    color: rgb(12, 66, 12);
    font-family: 'Jua', sans-serif;
}

header{
    background-color: blanchedalmond;
    height: 15%;
}
/*title*/
#title{
    font-size: 7em;
    margin: auto;
    text-align: center;
    color: rgb(12, 66, 12);
    font-family: 'Jua', sans-serif;
}

/* section메인내용*/
#addimg{
    height: 400px;
    background: url("https://cdn.pixabay.com/photo/2015/12/13/07/31/new-years-day-1090770_960_720.jpg") fixed; 
}

#fixed{
    font-family: 'Jua', sans-serif;
    position: fixed;
    /* position: sticky; */
    top: 400px;
    right: 20px;
    width: 150px;
    font-size: 1.5em;
    text-align: center;
    opacity: 0.5;
    z-index: 9999;
}

#carouselExampleAutoplaying{
    margin: auto;
    margin-top: 100px;
    width: 65%;
    margin-bottom: 200px;
}

#search, #map, #petdiary{
    text-align: center;
    color: rgb(12, 66, 12);
    font-family: 'Jua', sans-serif;
    font-size: 2rem;
    margin-bottom: 100px;
    background-color: blanchedalmond;
}

#search, #petdiary{
    margin-left: 10%;
}

#map{
    margin-left: 57%;
}

footer{
    margin-top: 300px;    
    background-color: blanchedalmond;
    height: 300px;
}

footer ul {
    list-style-type: none;
    padding: 8%;
    text-align: center;
    color: rgb(12, 66, 12);
    font-family: 'Jua', sans-serif;
}

/* adminpage section */
section article {
    border: 1px solid;
    display: inline-block;
    width: 42%;
    height: 700px;
    margin-top: 20px;
}

section article div{
    height: 50%;
}

/* section에 두 번째 태그에 있는 article을 가리키는 선택자 */
section article:nth-child(2) {
    border: 1px solid;
    display: inline-block;
    width: 15%;
}

.adminTable tr{
    border: 1px solid grey;
    height: 60px;
}

.adminTable tr th{
    text-align: center;
}

.adminTable tr td{
    text-align: right;
    padding-right: 10px;
}

.adminTable {
    border: 1px solid;
    width: 100%;
}

